<h1><%= book.title %></h1>
<img src="<%= book.image %>" alt="book.title">
<h4>Author: <%= book.author %></h4>
<h4>Synopsis: <%= book.synopsis %></h4>


<%# add code to only allow users who are logged in to see this %>
<a href="/books/<%= book.id %>/edit" class="btn edit-btn btn-primary">Edit</a>

<form method="POST" action="/books/<%= book.id %>" class="delete-btn">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn" style="background-color: #eec3c4">Delete</button>
</form>
<%# close it off here %>
