<h1>books</h1>


  <ul>
    <% user.books.forEach((book) => { %>
      <li>
      <img src="<%= book.image %>" alt="<%= book.title %>">
      <a href="/books/<%= book.id %>"><h4><%= book.title %></h4></a>
      <h4>Author: <%= book.author %></h4>
      </li>
      <form method="POST" action="/wishlists/books/<%= book.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
      <% }) %>
    </ul>
