<a class="return-button" href="/wishlist">Return</a>
<a class="return-button" href="/books">Search All Books</a>
<h1 class="resource-title">Books</h1>


<div class="container">
  <div class="row">
      <% user.books.forEach((book) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 data-layout">

          <img class="data-image" src="<%= book.image %>" alt="<%= book.title %>">
          <a class="data-title" href="/books/<%= book.id %>"><h4><%= book.title %></h4></a>

          <form method="POST" action="/wishlists/books/<%= book.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="add-wishlist-button">Remove</button>
          </form>
        </div>
      <% }) %>
  </div>
</div>
