<h1>books</h1>


  <ul>
    <% user.books.forEach((book) => { %>
      <li>
      <img src="<%= book.image %>" alt="<%= book.title %>">
      <a href="/books/<%= book.id %>"><h4><%= book.title %></h4></a>
      <h4>Author: <%= book.author %></h4>
      </li>
      <form method="POST" action="/wishlists/books">
        <input type="hidden" value="<%= book.id %>" name="id">
        <button>Add to Wishlist</button>
      </form>
      <% }) %>
    </ul>
