<a class="return-button" href="/wishlist">Go back</a>
<h1 class="resource-title">Films</h1>

<ul>
  <% user.films.forEach((film) => { %>
    <li>
    <img src="<%= film.image %>" alt="<%= film.title %>">
    <a href="/films/<%= film.id %>"><h4><%= film.title %></h4></a>
    <h4>Year: <%= film.year %></h4>
    <h4>Average Rating: <%= film.averageRating %></h4>
    <h4>director: <%= film.director %></h4>
    <h4>Trailer: <%= film.trailer %></h4>
    </li>
    <form method="POST" action="/wishlists/films/<%= film.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Remove</button>
    </form>
  <% }) %>
</ul>
