<a class="return-button" href="/wishlist">All Wishlists</a>

<h1 class="resource-title">Pocasts</h1>


<div class="container">
  <div class="row">
      <% user.podcasts.forEach((podcast) => { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 data-layout">
          <div class="hovereffect">
            <a href="/podcasts/<%= podcast.id %>"><img class="podcast-image" src="<%= podcast.image %>" alt="<%= podcast.title %>">
              <div class="overlay">
              <h4 class="hover-color"><%= podcast.title %></h4></a>
              <form method="POST" action="/wishlists/podcasts/<%= podcast.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="add-wishlist-button">Remove</button>
              </form>
                </div>
            </div>
          </div>
        <% }) %>
      </div>
