<a class="return-button" href="/wishlist">Return</a>

<h1 class="resource-title">Pocasts</h1>

<div class="container">
  <div class="row">
    <% user.podcasts.forEach((podcast) => { %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 data-layout">
      <img class="podcast-image" src="<%= podcast.image %>" alt="<%= podcast.title %>">
      <a class="data-title" href="/podcasts/<%= podcast.id %>"><h4><%= podcast.title %></h4></a>

      <form method="POST" action="/wishlists/podcasts/<%= podcast.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="add-wishlist-button">Remove</button>
      </form>
      </div>
    <% }) %>
  </div>
</div>
