<h1>restaurants</h1>

<ul>
  <% user.restaurants.forEach((restaurant) => { %>
    <li>
    <img src="<%= restaurant.image %>" alt="<%= restaurant.name %>">
    <a href="/restaurants/<%= restaurant.id %>"><h4><%= restaurant.name %></h4></a>
    <p>
      <%= restaurant.address.line1 %><br>
      <% if(restaurant.address.line2) { %><%= restaurant.address.line2 %><br><% } %>
      <%= restaurant.address.city %><br>
      <%= restaurant.address.postcode %><br>
      <%= restaurant.address.country %>
    </p>
    <h4>Cuisine: <%= restaurant.cuisine %></h4>
    </li>
    <form method="POST" action="/wishlists/restaurants/<%= restaurant.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Remove</button>
    </form>
    <% }) %>
  </ul>
