<a class="return-button" href="/wishlist">Return</a>
<a class="return-button" href="/tvSeriess">Search All TV Series</a>

<h1 class="resource-title">Tv Series</h1>


<ul>
  <% user.podcasts.forEach((podcast) => { %>
    <li>
    <img src="<%= podcast.image %>" alt="<%= podcast.title %>">
    <a href="/podcasts/<%= podcast.id %>"><h4><%= podcast.title %></h4></a>
    <h4>creator: <%= podcast.creator %></h4>
    <h4>Link: <%= podcast.link %></h4>
    </li>
    <form method="POST" action="/wishlists/podcasts/<%= podcast.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Remove</button>
    </form>
    <% }) %>
  </ul>
