<nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>SEARCH FOR TV SERIES BELOW AND ADD THEM TO YOUR WATCHLIST</h1>
    </div>
  </div>
</nav>

<a class="return-button" href="/tvSeriess/new">Add New TV Series</a>


<h1 class="resource-title">TV Series</h1>
<div class="container search-form">
  <form class="searchTvSeries">
    <input class="search-input-field" type="text" name="q" placeholder="Search TV Series" autocomplete="off">
    <input class="search-button" type="submit" value="Go!">
  </form>
  <div class="api-container row">
  </div>
</div>

<ul>
  <% tvSeriess.forEach((tvSeries) => { %>
    <li>
    <img src="<%= tvSeries.imageSRC %>" alt="<%= tvSeries.name %>">
    <a href="/tvSeriess/<%= tvSeries.id %>"><h4><%= tvSeries.name %></h4></a>
    <h4>Year: <%= tvSeries.year %></h4>
    <h4>Average Rating: <%= tvSeries.averageRating %></h4>
    </li>
    <form method="POST" action="/wishlists/tvSeriess">
      <input type="hidden" value="<%= tvSeries.id %>" name="id">
      <button class="add-wishlist-button">Add to Wishlist</button>
    </form>
  <% }) %>
</ul>
