<div class="container">
  <div class="row">
    <section class= "col-md-6 col-12" >
      <img class="show-image" src="<%= tvSeries.imageSRC %>" alt="tvSeries.name">
    </section>
    <aside class="col-md-6 col-12">
      <h1 class="show-title"><%= tvSeries.name %></h1>
      <h4 class="show-info"><strong>Year</strong>: <%= tvSeries.year %></h4>
      <h4 class="show-info"><strong>Average Rating</strong>: <%= tvSeries.averageRating %></h4>
      <h4 class="show-info"><strong>Synopsis</strong>: <%= tvSeries.synopsis %></h4>

      <% if (locals.isLoggedIn) { %>
        <a href="/tvSeriess/<%= tvSeries.id %>/edit" class="btn edit-wishlist-button edit-btn">Edit</a>

        <form method="POST" action="/tvSeriess/<%= tvSeries.id %>" class="delete-btn">
          <input type="hidden" name="_method" value="DELETE">
          <a class="btn edit-wishlist-button" >Delete</a>
        </form>

        <a class="back-button" href="/tvSeriess">Back</a>
      <% } %>
    </aside>
  </div>
</div>
