<h1><%= film.title %></h1>
<img src="<%= film.image %>" alt="film.title">
<h4>Year: <%= film.year %></h4>
<h4>Average Rating: <%= film.averageRating %></h4>
<h4>director: <%= film.director %></h4>
<h4>Synopsis: <%= film.synopsis %></h4>
<h4>Trailer: <%= film.trailer %></h4>

<% if (locals.isLoggedIn) { %>
  <a href="/films/<%= film.id %>/edit" class="btn edit-btn" style="background-color: #eec3c4">Edit</a>

  <form method="POST" action="/films/<%= film.id %>" class="delete-btn">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn" style="background-color: #eec3c4">Delete</button>
  </form>
<% } %>
