<a class="return-button" href="/restaurants/new">Add New Restaurant</a>
<h1 class="resource-title">Restaurants</h1>

<ul class="restaurants">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <% restaurants.forEach((restaurant) => { %>
          <li>
          <img class="restaurant-image" src="<%= restaurant.image %>" alt="<%= restaurant.name %>">
          <a href="/restaurants/<%= restaurant.id %>"><h4><%= restaurant.name %></h4></a>
          <p>
            <%= restaurant.address.line1 %><br>
            <% if(restaurant.address.line2) { %><%= restaurant.address.line2 %><br><% } %>
            <%= restaurant.address.city %><br>
            <%= restaurant.address.postcode %><br>
            <%= restaurant.address.country %>
          </p>
          <h4>Cuisine: <%= restaurant.cuisine %></h4>
          </li>
          <form method="POST" action="/wishlists/restaurants">
            <input type="hidden" value="<%= restaurant.id %>" name="id">
            <button class="add-wishlist-button">Add to Wishlist</button>
          </form>
        <% }) %>
      </div>
    </div>
  </div>
</ul>
