<div class="container">
  <div class="row">
    <section class= "col-md-6 col-12" >
      <img class="show-restaurant-image" src="<%= restaurant.image %>" alt="restaurant.name">
    </section>
    <aside class="col-md-6 col-12">
      <h1 class="show-title"><%= restaurant.name %></h1>
      <h4 class="show-info"><strong>Cuisine</strong>: <%= restaurant.cuisine %></h4>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
          <p class="show-info"><strong>Address:</strong>
            <%= restaurant.address.line1 %><br>
            <% if(restaurant.address.line2) { %><%= restaurant.address.line2 %><br><% } %>
            <%= restaurant.address.city %><br>
            <%= restaurant.address.postcode %><br>
            <%= restaurant.address.country %>
          </p>
        </div>
        <div class="col-4">
        </div>
      </div>


      <% if (locals.isLoggedIn) { %>
        <a href="/restaurants/<%= restaurant.id %>/edit" class="btn edit-wishlist-button edit-btn">Edit</a>

        <form method="POST" action="/restaurants/<%= restaurant.id %>" class="delete-btn">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn edit-wishlist-button edit-btn" >Delete</button>
        </form>

        <form method="POST" action="/wishlists/restaurants">
        <input type="hidden" value="<%= restaurant.id %>" name="id">
        <button class="edit-wishlist-button edit-btn">Add to Wishlist</button>
        </form>

        <a class="back-button" href="/restaurants">Back</a>
      <% } %>
    </aside>
  </div>
</div>
