<h1 class="resource-title">Podcasts</h1>

<a class="return-button" href="/podcasts/new">Add New Podcast</a>

  <div class="container">
    <div class="row">
        <% podcasts.forEach((podcast) => { %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 data-layout">
            <div class="hovereffect">
              <a href="/podcasts/<%= podcast.id %>"><img class="podcast-image" src="<%= podcast.image %>" alt="<%= podcast.title %>">
                <div class="overlay">
                <h4 class="hover-color"><%= podcast.title %></h4></a>
                  <form method="POST" action="/wishlists/podcasts">
                    <input type="hidden" value="<%= podcast.id %>" name="id">
                    <button class="add-wishlist-button">Add to Wishlist</button>
                  </form>
                  </div>
              </div>
            </div>
          <% }) %>
        </div>
